services:
  frontend:
    build:
      context: ./frontend
    container_name: dataops_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
            - .next/

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.api
    container_name: dataops_api
    ports:
      - "8000:8000"
    develop:
      watch:
        - action: sync
          path: ./backend/app
          target: /app/app

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.worker
    container_name: dataops_worker
    develop:
      watch:
        - action: sync
          path: ./backend/app
          target: /app/app
